@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>YokyDoky란?</h1>
    <p class="lead">딥러닝을 이용한 스마트 신문 요약 어플리케이션 입니다.</p>
    <p>단순 요약이 아닌 키워드 등록을 통한 관련성 높은 모든 요약기사를 제공합니다. </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">보러가기&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Interface.</h2>
        <p>
            손쉽고 심플한 인터페이스.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Keyword.</h2>
        <p>관심분야의 키워드를 설정하시면 해당 키워드는 물론 관련성이 높은 다른 기사들까지 요약해서 만나실 수 있습니다.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Customize.</h2>
        <p>커스터마이징</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>